/* 
=============================================
リセット・共通設定
=============================================
*/
/* ページ上の全要素 */
*, *::before, *::after {
    /* （余白を消す） */
    margin: 0; /* 外側 */
    padding: 0; /* 内側 */

    /* ボックスのサイズ計算方法の変更 */
    box-sizing: border-box;
}

body {
    background: #0d0f12; /* 背景色 */
    color: rgba(240, 235, 228, 0.92); /* 文字色（rgbaは「赤、緑、青、透明度」の順） */
    font-family: Arial, sans-serif;/* フォント指定 */

    /* 画面全体の高さ（vh は「画面の高さの1%」の単位）
       コンテンツが増えてもこれ以上小さくならない設定 */
    min-height: 100vh;
}

/*
=============================================
ナビゲーション：土台
=============================================
*/


/* 
=============================================
ナビゲーション：ロゴエリア
=============================================
*/



/*
=============================================
ナビゲーション：リンクリスト
=============================================
*/